#Entornos virtuales
venv/
env/
.venv/

#Cache de Python
__pycache__/
*.pyc

#Imágenes de salida generadas
*.jpg
*.tmp

# Archivos de configuración de IDEs
.vscode/
.idea/

#Otros
mascara_y_normalizado.py